* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "Poppins";
}
body{
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    height: 300px;
}

.container {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    top: -100px;
    z-index: 5;
}
.titletren {
    padding-top: 34px;

}
.titletren p{
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #DF6951;
}
.titletren h3 {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    text-transform: capitalize;
    color: #181E4B;
}
.box3 {
    display: flex;
    padding-left: 31.575px;
}
.box {
    width: 30%;
    border-radius: 18px;
    margin-right: 33.575px;
}
.box img{
    padding-top: 20px;
    width: 142px;
    height: 159px;
    margin-bottom: 20px;
}
.box h2{
    text-decoration: none;
    font-weight: 600;
    font-style: normal;
    color: #1E1D4C;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}
.box p {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5E6282;
}
.box:hover {
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;
}
.duoi {
    margin-top: 40px;
    display: flex;
}
.phai{
    width: 45%;
    height: auto;
    background-color: rgba(128, 128, 128, 0.2);
    margin-left: 38px;
    margin-bottom: 50px;
}
input[type="text"] {
    background: #FFFFFF;
    width: 350px;
    height: 80.73px;
    margin-bottom: 20px;
    border: none;
}

input[type="text"]::placeholder {
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.26);
    position: relative;
}
#message {
    height: 150px;
    width: 350px;
}
#message::placeholder{
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.26);
    position: relative;
}
.duoi h3 {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    text-transform: capitalize;
    color: #181E4B;
    padding-top: 40px;
    padding-bottom: 10px;
}
.phai p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    text-align: center;
    color: #000000;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
input[type="text"]:focus {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    
    color: rgba(0, 0, 0, 0.701);
    padding-left: 15px;
    outline: none;
    
}
input[type="text"]:not(:focus) {
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.701);
    padding-left: 15px;
}
.phai button {
    width: 217.68px;
    height: 59.93px;
    background: #DF6951;
    box-shadow: 0px 20px 35px rgba(223, 105, 81, 0.15);
    border-radius: 10px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 13.7159px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}
button:hover {
    background-color:#d34d32; 
  }

#message:focus{
    font-weight: 400;
    font-size: 18px;
    font-style: normal; 
    line-height: 26px;
    color: rgba(0, 0, 0, 0.701);
    padding-left: 15px; 
    /* position: absolute;
    top: 20px;  */
    padding-bottom: 15px;
    border: none;
}
#message:not(:focus){
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 26px; 
    color: rgba(0, 0, 0, 0.701);
    padding-left: 15px;
    /* position: absolute;
    top: 20px;  */
    padding-bottom: 90px;
    
}

input[type="text"]:hover{
background-color: rgba(128, 128, 128, 0.21);
}










.trai{
    width: 45%;
    height: auto;
    background-color: rgba(128, 128, 128, 0.2);
    margin-left: 30px;
    margin-bottom: 50px;
}
.trai p {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    /* line-height: 26px; */
    /* text-align: center; */
    color: #000000;
    padding-left: 25px;
    padding-right: 25px;
}
iframe{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}
.icon-container {
    position: fixed; /* Cố định vị trí icon */
    bottom: 30px; /* Khoảng cách từ dưới đáy trang */
    right: 10px; /* Khoảng cách từ mép phải */
    z-index: 100; /* Đảm bảo icon hiển thị trên các phần tử khác */
    transform: translate(-50%, -50%); /* Di chuyển icon về trung tâm */
    display: flex; /* Chuyển đổi container thành flexbox */
    align-items: center; /* Canh giữa các mục theo chiều dọc */
  }
  
  .icon-container img {
    width: 70px;
    height: auto; /* Tự động điều chỉnh chiều cao */
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    /* Tạo hiệu ứng chuyển đổi mượt mà */
  }
  .icon-container img:hover {
    transform: scale(1.05);
  }

/* .footer{
    width: 100%;
    height: 300px;
    background-color: red;
    margin-top: 50px ;
    
} */

#gallery {
    transition: transform 0.5s ease-in-out;
    /* Tạo hiệu ứng chuyển đổi mượt mà */
}

#gallery:hover {
    transform: scale(1.05);
    /* Phóng to ảnh khi di chuột qua 10% */
}
